--------------------------------------------------------------------
                    【俠客行一百規則篇】
--------------------------------------------------------------------
        為保證程序正常運行與廣大玩家利益，制定以下規則，不能遵
   守者請勿加入本遊戲，謝謝。

   ************************************************************
   **                                                        **
   **            守則內容                       違規處理辦法 **
   **--------------------------------------------------------**
   **●  請在公開交談時儘量使用中文。          警告          **
   **●  進行私人交談請用 tell 或 reply 。     警告          **
   **●  請勿故意使用和他人一模一樣的姓名。    勒令改名      **
   **●  多人共用一個id將視作自願承擔連帶後果。具體連帶處理  **
   **●  利用他人id進行PK。                    封主id及操刀id**
   **●  請勿辱罵任何一位玩家。                警告至殺檔    **
   **●  請勿向巫師提出修改數據的要求。        警告、降級    **
   **●  嚴禁利用ＢＵＧ牟利。                  警告至殺檔    **
   **●  嚴禁有意利用系統缺陷進行宕機。        殺檔          **
   **●  嚴禁用任何方式Flood系統頻道。         殺檔          **
   **●  請勿交談有關政治性的敏感話題。        殺檔          **
   **●  請勿散佈色情、暴力、迷信內容的話題。  殺檔          **
   **●  巫師遵守以上規則外，還要遵守wizrules。開除          **
   **                                                        **
   ************************************************************

         巫師保留對犯規行為採取更嚴厲的處理辦法的權利。[0m
